<div class="margin alert alert-warning col-xl-12 col-md-12 table-responsive container-position body-step border-menu">
  <table >
      <tr > 
        <td ><input class="btn btn-success btn-sm" type="button" value="Finalizar Pedido" (click) = "submitOrder()"></td>
        <td ><input class="btn btn-danger btn-sm" type="button" value="Cancelar Pedido" (click) = "cancelOrder()"></td>
      </tr>
    </table>
    <table class="table table-striped text-dark" >
      <thead>
        <tr>
          <th class="col">Total Pedido</th>
          <th class="col">{{getTotalValue() | currency }}</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of products">
        <tr> 
          <td>
            {{item.name}}
            <br>
            <p>
              <span class="small" *ngFor="let addition of item.additionsMenu">*{{addition.name}}<br></span>
            </p>
          </td>
          <td>{{item.price}}</td>
        </tr>
      </tbody>
  </table>
</div>
